.app__one-character-page {
  max-width: 500px;
  border: 1px solid #fdfbc3;
  padding: 15px;
  margin: 15px;
  color: #fdfbc3;
  text-align: left;
}

.app__one-character-page--container {
  display: flex;
  justify-content: center;
}
.app__one-character-img {
  padding: 10px;
  border: 3px dotted #6cb842;
}

p {
  padding: 5px;
}
