.app__load-more {
  text-align: center;
}

.app__load-more--button {
  padding: 5px 25px 5px 25px;
  margin-top: 40px;
  background-color: black;
  border: 3px dotted #6cb842;
  color: #6cb842;
  border-radius: 1px;
  cursor: pointer;
}
