*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 75px auto 75px;
  background-color: #04b1c5;
}

.home__img {
  width: 90vw;
}

.character__liItem {
  border: 2px solid black;
  padding: 5%;
  width: 300px;
  text-align: center;
  margin: auto;
  list-style: none;
  background-color: wheat;
}

.character__name {
  font-weight: bold;
  text-decoration: underline;
}
.character__liItem img {
  width: 50vw;
}

.character__liItem p {
  word-wrap: break-word;
}

.li__Link {
  text-decoration: none;
  color: black;
}

.alive {
  color: green;
}
.dead {
  color: red;
}
.unknown {
  color: orange;
}

.singleChar__card {
  border: 2px solid black;
  padding: 5%;
  width: fit-content;
  margin: auto;
  list-style: none;
  background-color: wheat;
}

.singleChar__textBox {
  background-color: blanchedalmond;
  border: 2px solid whitesmoke;
  padding: 1%;
  font-weight: bold;
}
