/* .App {
  height: 100vh;
  display: grid;
  place-items: center;
  color: #04b1c5;
  background-color: #111440;
  font-size: 2em;
} */
/* removing standard setting in css */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #fdfbc3;
  gap: 1.5rem;
  background-color: black;
}

.app__main {
  padding: 90px;
  text-align: center;
}

.app__nav {
  border: 3px dotted #6cb842;
  padding: 15px;
}

.app__nav-link {
  text-decoration: none;
  padding: 15px;
  color: #03afc7;
}

.app__all-characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

.app__img--header {
  max-width: 100px;
  border-radius: 50%;
}

.app__home-img {
  border: 1px solid black;
}

.active {
  font-weight: bold;
  color: #fdfbc3;
}
