*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh auto 10vh;
  color: #04b1c5;
  background-color: hsl(236, 58%, 16%);
  font-size: 16px;
}

.App-Header {
  border-bottom: 1px solid white;
  width: 100%;
}

.App-Header__Nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.App-Header--Logo {
  height: 40px;
  padding-bottom: 0.5em;
}

.App-Header__Nav a {
  text-decoration: none;
  color: white;
  gap: 2rem;
}

.App-Content {
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.Home-Img {
  height: 30px;
  width: 40px;
}

.Character-Card {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.Character-card--wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  border: 1px solid aquamarine;
  padding: 1rem;
  border-radius: 15px;
  text-align: center;
}

.Character-Card__image {
  border-radius: 10px;
}
.Character-Card__description li {
  list-style: none;
}

.Footer {
  border-top: 1px solid white;
  width: 100%;
}

.CharacterList__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.CharacterList__wrapper a {
  text-decoration: none;
  color: white;
}
